body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col4{
  width: 29.33%;
  padding: 0 10px;
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  height: 100vh;
}
.app-block {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}
.sub-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.start-button {
  margin-bottom: 15px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #7a18ec;
  background: white;
  border: 2px solid #7a18ec;
  box-shadow: 5px 5px 0 #7a18ec,
  -5px -5px 0 #7a18ec,
  -5px 5px 0 #7a18ec,
  5px -5px 0 #7a18ec;
  transition: 500ms ease-in-out;
}

.start-button:hover {
  box-shadow: 20px 5px 0 #7a18ec, -20px -5px 0 #7a18ec;
}

.start-button:focus {
  outline: none;
}
.img {
  margin-bottom: 10px;
}
.text {
  display: block;
  margin: 0 auto 10px;
}
.button {
  display: block;
  margin: 0 auto 15px;
  position: relative;
  width: 180px;
  height: 60px;

  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: black;
  trasnition: 0.5s;
  border: 1px solid #ec1840;
}
.button:hover {
  border: 1px solid transparent;
  background: #ec1840 url('https://i.postimg.cc/wBXGXbWN/pixel.png');
  transition-delay: 0.8s;
  background-size: 180px;
  animation: animate  0.8s steps(8) forwards
}
.button:last-of-type {
  border: 1px solid #7a18ec;
}
.button:last-of-type:hover {
  background: #7a18ec url('https://i.postimg.cc/FzBWFtKM/pixel2.png');
}
@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}
body {
  background: url("img/bg-pok.png");
}